
<h2>My heroes</h2>

<ul class="list-heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero" >
    <span>Id: {{hero.id}} </span><span>Name: {{hero.name}} </span></li>
</ul>
<div *ngIf="selectedHero">
<h2>{{ selectedHero.name | uppercase }} Details:</h2>
<div class=""><span>Id :{{ selectedHero.id }}</span></div>
<div class=""><span>Name :{{ selectedHero.name }}</span></div>

<div class="">
  <label for="name">Hero name:</label>
  <input type="text" id="name" [(ngModel)]="selectedHero.name" placeholder="name">
</div>
</div>
